.lclist{
	height: 2.16rem;
	display: flex;
	justify-content: space-between;
	margin: 0.4rem 0;
	ul{
		padding-left: 0.533333rem;
		margin: 0.4rem 0;
		li{
			float: left;
			text-align: center;
			font-size: 0.333333rem;
			margin-right: 0.266667rem;
			padding: 0.266667rem 0;
			img{
				width: 1.066667rem;
				height: 1.066667rem;
			}
			em{
				font-style: normal;
			}
		}
	}
	div{
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 0.373333rem;
		i{
			margin: 0 0.213333rem;
			font-style: normal;
			color: #e83c48;
		}
		
	}
}
.ordersettlement{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 0.266667rem;
	p{
		width: 75%;
		font-size: 0.373333rem;
		color: #e83c48;
		display: flex;
		flex-direction: column;
		justify-content: center;
		/* align-items: center; */
		em{
			font-style: normal;
		}
	}
	span{
		width: 25%;
		display: flex;
		justify-content: center;
		align-items: center;
		input{
			width: 2.626667rem;
			height: 0.906667rem;
			background: #e83c48;
			color: #fff;
			border: 0;
			font-size: 0.373333rem;
		}

	}
}