body,html{
    height: 100%;
}
body>div,html>div{
	height: 100%;
}
.lccontain{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.lcheader{
	background: #4990e0;
	height: 1.2rem;
	font-size: 0.48rem;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}
.lcheader img{
	position: absolute;
	display: block;
	width: 0.293333rem;
	height: 0.493333rem;
	left: 0.346667rem;
	top: 0.373333rem;
}
.lcsection ul{
	margin: 0 0.266667rem;
}
.lcsection ul li{
	border-bottom: 0.04rem solid #e7e7e7;
	position: relative;
}
.lcsection ul li input{
	width: 8.213333rem;
	height: 1.386667rem;
	border: 0;
	font-size: 0.48rem;	
	/* color: #ccc; */
	padding-left: 1.6rem;
}
.lcsection ul li img{
	position: absolute;
	display: block;
}
.lcsection ul li img.iconuser{
	width: 0.48rem;
	height: 0.493333rem;
	left: 0.533333rem;
	top: 0.426667rem;
}
.lcsection ul li img.iconclose{
	width: 0.453333rem;
	height: 0.453333rem;
	right: 0.533333rem;
	top: 0.426667rem;
}
.lcsection ul li img.iconlock,img.iconmima2{
	width: 0.4rem;
	height: 0.506667rem;
	left: 0.533333rem;
	top: 0.426667rem;
}
.lcsection ul li img.iconso{
	width: 0.666667rem;
	height: 0.426667rem;
	right: 0.533333rem;
	top: 0.426667rem;
}
.lcsection .login,.reg{
	display: flex;
	justify-content: center;
	margin: 1.066667rem 0 0.613333rem 0;
}
.lcsection .login>input,.reg>input{
	width: 9.0rem;
	height: 1.146667rem;
	font-size: 0.453333rem;
	background: #4990e0;
	border: 0.026667rem solid #4990e0;
	border-radius: 12px;
	color: #fff;
	font-family: "宋体";
	display: flex;
	justify-content: center;
	align-items: center;
}
.lcsection .plus{
	display: flex;
	justify-content: space-between;
	margin: 0 0.533333rem;
}
.lcsection .plus a{
	font-size: 0.373333rem;
	color: #4990e0;
}
.lcsection .qq{
	height: 0.48rem;
	display: flex;
	justify-content: center;
}
.lcsection .qq .del{
	width: 2.0rem;
	line-height: 0.48rem;
	text-align: center;
}
.lcsection .qq i{
	font-style: normal;
	font-size: 0.373333rem;
	margin: 0 0.453333rem;
}
.lcsection .iconqq{
	display: flex;
	justify-content: center;
}
.lcsection .iconqq img{
	display: inline-block;
	width: 0.92rem;
	height: 0.92rem;
	margin-top: 0.48rem;
}
.lcsection>em{
	margin-top: 0.16rem;	
	display: flex;
	justify-content: center;
}
.lcsection>em>span{
	font-size: 0.373333rem;
	font-style: normal;
}

.lcfooter{
	flex: 1;
}