.lcform{
    form{
        p{ 
            font-size: 50px;
            height: 2.0rem;
            input{
                display:inline-block;
                // width: 60%;
                // height 2.0rem;
                font-size: 35px;
            }       
        }
        #btn{
            display: block;
            width: 30%;
            height: 1.0rem;
            font-size: 35px; 
            background: #4990e0;
            color: #fff;
            border: 0;

        }
    }
}