*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.box{
    position: relative;
    /*height: 100%;*/
}
.container{
    width: 1202px;
    height: 652px;
    /*overflow: auto;*/
    position: absolute;
    left: 132px;
    top: 72px;
    border: 2px solid #005500;
}
.container .page{
    /*width: 1268px;*/
    position: fixed;
    right: 140px;
    bottom: 19px;
    text-align: right;
}
.container .page span{
    display: inline-block;
    width: 30px;
    text-align: center;
    border: 1px solid #000;
    background: #fff;
    cursor:pointer;
}
.container .action{
    background: #00B38B;
}