#nav {
    /*width: 10.0rem;*/
    float: left;
    /* height: 5.74rem; */
    margin: 0 auto;
    /*background:#ccc;*/
}
#nav .nav_circular {
    /*height: 10.0rem;*/
    float: left;
    padding: 0.266667rem 0 0.133333rem 0;
    background: #fff;
}
#nav .nav_circular li {
    float: left;
}
#nav .nav_circular li a {
    width: 2.48rem;
    height: 2.08rem;
    font-size: 0.346667rem;
    text-align: center;
    margin-top: 0.266667rem;

    text-decoration: none;
    color: #333;
    display: block;
}
.left {
    float: left;
}
#nav .nav_circular li a img {
    width: 1.093333rem;
    height: 1.093333rem;
    text-align: center;
    display: inline-block;
    margin-bottom: 0.24rem;
}
#nav .nav_circular li a span {
    display: block;
}