.carheader{
	background: #4990e0;
	height: 1.2rem;
	font-size: 0.48rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}
.carheader .iconarror{
	width: 0.293333rem;
	height: 0.493333rem;
	margin-left: 0.346667rem;
}
.carheader .iconhome{
	width: 0.666667rem;
	height: 0.666667rem;
	margin-right: 0.266667rem;
}
.buycar{
	flex: 1;
	overflow-y: auto;
}
.buycar div.empty{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.buycar div.empty img{
	width: 2.32rem;
	height: 1.893333rem;
	margin: 1.6rem 0 1.066667rem 0;
}
.buycar div.empty p{
	font-size: 0.44rem;
}
.buycar div.empty p a{
	color: #4990e0;
}
.buycar div.empty span{
	display: flex;
	justify-content: center;
	margin: 1.066667rem 0 0.613333rem 0;
}
.buycar div.empty span>input{
	width: 9.0rem;
	height: 1.146667rem;
	font-size: 0.453333rem;
	background: #4990e0;
	border: 0.026667rem solid #4990e0;
	border-radius: 12px;
	color: #fff;
	font-family: "宋体";
}
.buycar div.have{
	display: flex;
	flex-direction: column;
	/* align-items: center; */
}
.buycar div.have .top{
	height: 1.653333rem;
	width: 100%;
	font-size: 0.4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.026667rem solid #f0f0f0;
}
.buycar div.have input{
	width: 0.533333rem;
	height: 0.533333rem;
	margin-left: 0.533333rem;
}
.buycar div.have .top .allcheck{
	display: inline-block;
/* 	vertical-align: middle; */
}
.buycar div.have .top span{
	width: 80%;
	display: flex;
	align-items: center;
}
.buycar div.have .top img{
	display: inline-block;
	width: 0.533333rem;
	height: 0.453333rem;
	margin-right: 0.213333rem;
}
.buycar div.have .main_car{
	display: flex;
	flex-direction: column;
	position: relative;
}
.buycar div.have .main_car li{
	width: 100%;
	display: flex;
	align-items: center;
	border-bottom: 0.053333rem solid #f0f0f0;
}
.buycar div.have .main_car li a img{
	display: inline-block;
	width: 12px;
	width: 2.4rem;
	height: 2.4rem;
	margin:0 0.333333rem 0 0.333333rem;
}
.buycar div.have .main_car li .list-detail{
	display: inline-block;
	height: 3.066667rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	a{
		font-size: 0.4rem;
		color: #333;
	}
	p{
		font-size: 0.32rem;
		color: #aaa;
	}
	.det-under{
		width: 5.6rem;
		display: flex;
		/* flex-direction: row; */
		justify-content: space-between;
		em{
			font-size: 0.4rem;
			color: #e83c48;
			font-style: normal;
			margin-top: 0.32rem;
		}
		ul{
			display: flex;
			/* height: 0.80rem; */
			flex-direction: row;
			border: 0.026667rem solid #e3e5e9;
			overflow: hidden;
			li{
				width: 0.8rem;
				height: 0.8rem;
				border: 0;
				text-align: center;
				justify-content: center;
				align-items: center;
				font-size: 0.4rem;
				&:nth-child(2){	
					width: 0.906667rem;
					border-left: 0.026667rem solid #e3e5e9;
					border-right: 0.026667rem solid #e3e5e9;
					input{
						font-size: 0.4rem;
						width: 0.853333rem;
						height: 0.853333rem;
						border: 0;
						margin: 0;
						text-align: center;
					}
				}
			}
		}
	}
	.editarea{
		strong{
			float: right;
			font-size: 0.4rem;
			margin: 0.266667rem 0 0 0.133333rem;
			padding-left: 0.266667rem;
			border-left: 0.026667rem solid #e3e5e9;
			color: #232326;
			font-weight: normal;
		}
		strong.del{
			padding-right: 0.266667rem;
			border: 0;
			color: #4990e0;
		}
	}
}
.settlement{
	height: 1.386667rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	div:first-child{
		width: 24%;
		display: flex;
		justify-content: center;
		align-items: center;
		input{
			width: 0.533333rem;
			height: 0.533333rem;
		}
		span{
			font-size: 0.4rem;
			margin-left: 0.133333rem;
		}
	}
	div:nth-child(2){
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		p:first-child{
			color: #e83c48;
			font-size: 0.4rem;
		}
		p:nth-child(2){
			color: #666;
			font-size: 0.373333rem;
		}
	}
	span.nextstep{
		width: 30%;
		input{
			width: 100%;
			height: 100%;
			background: #e83c48;
			color: #fff;
			font-size: 0.4rem;
			border: 0;
		}

	}
}



