html>div{
	height: 100%;
}
.mineheader{
	background: url("./img/main_img.png");
	height: 4.8rem;
	.top{
		display: flex;
		height: 1.12rem;
		justify-content: center;
		align-items: center;
		font-size: 0.48rem;
		color: #fff;
	}
	.mynews{
		flex: 1;
		display: flex;
		flex-direction: row;
		font-size: 0.4rem;
		padding:0.533333rem 0;
		/* height: 2.666667rem; */
		img{
			display: inline-block;
			width: 1.6rem;
			height: 1.6rem;
			margin: 0 0.426667rem 0 0.64rem;
		}
		.newmain{
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: #fff;
			font-family: "宋体";
			p{
				margin-top: 0.346667rem;
				em{
					font-style: normal;
					font-size: 0.346667rem;
					&:first-child{
						margin-right: 0.48rem;
					}
				}
			}
		}
	}
	.demand{
		height: 0.986667rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		a{
			font-size: 0.373333rem;
			color: #fff;
			margin-left: 0.586667rem;
		}
	}
}
.lcnav ul{
	display: flex;
	flex-direction: row;
	font-size: 0.373333rem;
	li{
		width: 25%;
		display: flex;
		flex-direction: column;

		align-items: center;
		height: 0.96rem;
		margin: 0.266667rem 0;
		color: #333;
		border-right: 0.026667rem solid #d6d6d6;
		a{
			color: #333;
		}
		span:first-child{
			color: #e83c48;
		}
		&:last-child{
			border: 0;
		}
	}
}
.lcmain{
	flex: 1;
}