.updata{
    overflow: hidden;
}
.updata .updata_l{
    float: left;
    /*width: 135px;*/
    padding-top: 20px;
    padding-left: 485px;
}
.updata .updata_l p{
    height: 32px;
    text-align: right;
    /*line-height: 32px;*/
    margin-right: 30px;
    margin-bottom: 9px;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    background: #00B38B;
    font-size: 16px;
    padding: 5px;
}
.updata .updata_r{
    float: left;
    padding-top: 20px;
}
.updata .updata_r input{
    display: block;
    height: 30px;
    width: 258px;
    margin-bottom: 11px;
    border-radius: 5px;
    padding-left: 5px;
}
.updata .upBtn{
    border-radius: 5px;
    width: 100px;
    height: 35px;
    line-height: 35px;
    position: absolute;
    bottom: 34px;
    right: 16px;
    background: #008800;
    border-bottom: 1px solid #00CC00;
    text-align: center;
    color: #fff;
    cursor:pointer;
}
.updata a{
    display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    background: #FF0000;
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
}