.users{
    padding:50px 10px;
}
.users .header{
    display: inline-block;
    width: 98px;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    margin-right: 4px;
    background: #00B38B;
    padding-left: 2px;
}
.users .operations{
    position: absolute;
    bottom:18px;
    right:18px;
}
.users .val{
    width: 113px;
    height: 30px;
    margin-top: 5px;
}
.users .import{
    margin-top: 10px;
}
.users .import2 input{
    width: 97px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.users .back{
    display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    background: #FF0000;
    position: absolute;
    right: 20px;
    top: 10px;
    text-align: center;
    border-radius: 5px;
    color: #fff;
}