.products{
    padding-top: 46px;
    /*overflow: hidden;*/
    word-wrap: break-word;
    word-break: break-all;
}
.products thead{
    z-index: 99;
    top: 74px;
    left: 134px;
    position: fixed;
    background: #fff;
}
.products th{
    height: 30px;
    /*padding: 0 10px;*/
    width: 117px;
    border-right: 1px solid #005500;
    background: #00B38B;
}
.products tbody{
    height: 600px;
    overflow: auto;
    position: absolute;
    top: 30px;
}
.products tr:nth-child(odd){
    background: #DDDDDD;
}
.products tr{
    line-height: 40px;
    border-bottom: 1px solid #DDDDDD;
}
.products td{
    width: 200px;
    height: 100px;
    text-align: center;
    border-bottom: 1px solid #DDDDDD;
    font-size: 14px;
    position:relative;
    padding-left: 14px;
}
.add{
    position: fixed;
    top: 125px;
    left: 142px;
}
.add input{
    width: 140px;
    height: 20px;
}
.products .doSoming{
    font-size: 14px;
}
.products .doSoming a{
    text-decoration:none; 
    color: #00CC00;
    font-size: 13px;
    color:  #EBEBEB;
    font-weight:normal;
}
.products .upShow_box{
    position: relative;
}
.products_box .upShow{
    position: fixed;
    left: 192px;
    top: 110px;

}
.products_box .upShow input{
    width: 140px;
    height: 40px;
}
.products_box .upShow .addBtn{
    width: 50px;
    height: 30px;
}
.products_box{
    position: relative;
}
.products_box .search{
    position: absolute;
    top: -50px;
    left: 453px;
}
.products_box .search input{
    width: 300px;
    height: 30px;
    padding-left: 5px;
}
.products_box .search .btn_sre{
    width: 50px;
    height: 20px;
}