/* 
* @Author: Marte
* @Date:   2018-03-12 16:31:11
* @Last Modified by:   Marte
* @Last Modified time: 2018-03-13 14:58:39
*/
#com_header{
    float: left;
    width: 10.0rem;
    margin: 0 auto;
    background:#4990e0;
    height: 1.2rem;

    /*height: 1.2rem;*/
}
#com_header_nav #com_header_a{
    float: left;
    background: transparent;
    text-decoration: none;
    color: #333;
    display: block;
    padding:0.333333rem 0.2rem 0.373333rem 0.2rem;
    margin-left: 0.133333rem;
}
#com_header_nav>img {
    float: left;
    width: 0.293333rem;
    float: left;
    margin-top: 0.373333rem;
    margin-left: 0.346667rem;
    display:block;
}
#com_header_nav>h1 {
    float: left;
    width: 4.0rem;
    height: 1.2rem;
    line-height: 1.2rem;
    font-weight: normal;
    font-size: 0.48rem;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 160px;
    color:#fff;
}

#com_header_nav .menu {
    float: right;
    width: 1.28rem;
    height: 0.933333rem;
    padding-left:0.24rem;
}
#com_header_nav .menu img {
    width: 0.7rem;
    height:0.85rem;
    /*padding-left: 10px;*/
    margin-right: 0.133333rem;
    margin-top: 0.133333rem;
    margin-bottom: 0.133333rem;

}